<div class="node">
        <div class="nodename"></div>
        <input class="nodeprice" disabled="true" type="text" placeholder=""/>
        <input class="nodepriceunits" disabled="true" type="text" placeholder=""/>
        <span class="currencyAndFactor">x</span>
        <div class="nodeunit pricing"></div>
        <span class="resultSign">=</span>
        <input class="nodeinp priceresult" disabled="true" type="text" placeholder=""/>
        <img src="assets/info.png" width="10px" height="10px" class="nodehint" data-toggle="tooltip" data-placement="bottom"/>
    </div> 